body {
  font-family: sans-serif;
  margin: 20px
}

.navbar {
  display: flex;
}

.navbar > *:not(:last-child) { margin-right: 20px; }

.page { margin-top: 20px; }


.requirements {
  background-color: rgb(0,0,175);
  border-style: double;
  border-color: white;
  padding: 5px;
}

.requirement {
  width: 32px;
  height: 32px;
}

.requirement.disabled {
  filter: grayscale(100%) opacity(50%);
}

.requirement.crystal {
  content: url("/img/schalakitty/FFIVFE-Icons-1THECrystal-Color.png");
}

.requirement.pass {
  content: url("/img/schalakitty/FFIVFE-Icons-2Pass-Color.png")
}

.requirement.hook {
  content: url("/img/schalakitty/FFIVFE-Icons-3Hook-Color.png")
}

.requirement.darkness-crystal {
  content: url("/img/schalakitty/FFIVFE-Icons-4DarkCrystal-Color.png")
}

.requirement.earth-crystal {
  content: url("/img/schalakitty/FFIVFE-Icons-5EarthCrystal-Color.png")
}

.requirement.twin-harp {
  content: url("/img/schalakitty/FFIVFE-Icons-6TwinHarp-Color.png")
}

.requirement.package {
  content: url("/img/schalakitty/FFIVFE-Icons-7Package-Color.png")
}

.requirement.sand-ruby {
  content: url("/img/schalakitty/FFIVFE-Icons-8SandRuby-Color.png")
}

.requirement.baron-key {
  content: url("/img/schalakitty/FFIVFE-Icons-9BaronKey-Color.png")
}

.requirement.magma-key {
  content: url("/img/schalakitty/FFIVFE-Icons-10MagmaKey-Color.png")
}

.requirement.tower-key {
  content: url("/img/schalakitty/FFIVFE-Icons-11TowerKey-Color.png")
}

.requirement.luca-key {
  content: url("/img/schalakitty/FFIVFE-Icons-12LucaKey-Color.png")
}

.requirement.adamant {
  content: url("/img/schalakitty/FFIVFE-Icons-13Adamant-Color.png")
}  

.requirement.legend-sword {
  content: url("/img/schalakitty/FFIVFE-Icons-14LegendSword-Color.png")
}  

.requirement.pan {
  content: url("/img/schalakitty/FFIVFE-Icons-15Pan-Color.png")
}  

.requirement.spoon {
  content: url("/img/schalakitty/FFIVFE-Icons-16Spoon-Color.png")
}  

.requirement.mist-dragon {
  content: url("/img/sprites/MistDragon1.gif")
}

.requirement.rat-tail {
  content: url("/img/schalakitty/FFIVFE-Icons-17RatTail-Color.png")
}

.requirement.pink-tail {
  content: url("/img/schalakitty/FFIVFE-Icons-18PinkTail-Color.png")
}

.requirement.total {
  color: white;
  text-align: center;
}

.requirement.total.key-bonus-reached {
  color: chartreuse;
  text-align: center;
}

.location.checked {
  color: green;
}

.location .name {
  padding-right: 5px;
}

.location .icon {
  width: 16px;
  height: 16px;
  padding: 0 1px;
}

.location .character {
  content: url("/img/sprites/Mini1-Front.gif");
}

.location .boss {
  content: url("/img/sprites/Monster3-Front.gif");
}

.location .key-item {
  content: url("/img/sprites/BrownChest1.gif");
}
