@import url("/elm-bootstrap.css");

body {
  font-family: sans-serif;
  margin: 20px;
}

.navbar {
  display: flex;
}

.navbar > *:not(:last-child) { margin-right: 20px; }

.page { margin-top: 20px; }

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 500px;
}

#flagstring {
  flex: 1 100%;
  order: 0;
}

#objectives {
  flex: 1 60%;
  order: 2;
}

#key-items {
  flex: 0 35%;
  order: 1;
}

#checks {
  flex: 1 50%;
  order: 3;
}

#shops {
  flex: 1 50%;
  order: 4;
}

h2 {
  font-size: 1em;
}

.flagstring {
  width: 100%;
}

.objectives {
  list-style: none;
  padding: 0;
  margin: 0;
}

.objective {
  margin: 1px 0;
  cursor: pointer;
  width: fit-content;
}

.objective.unset {
  height: 1.25em;
}

.objective .text:hover {
  background-color: #f8f9fa;
}

.objective .icon.state {
  content: url("/img/sprites/Crystal-still.png");
  filter: grayscale(100%) opacity(50%);
  margin-right: 0.5em;
  height: 1.25em;
  vertical-align: middle;
}

.objective .icon.delete {
  content: url("/img/sprites/TrashCan.gif");
  height: 1em;
  vertical-align: top;
  padding-top: 2px;
  margin-left: .5em;
  filter: opacity(75%)
}

.objective.completed .icon.state {
  filter: none;
}

.objectives .dropdown-menu.show {
  height: 13em;
  overflow: auto;
}

.requirements {
  background-color: rgb(0,0,175);
  border-style: double;
  border-color: white;
  padding: 5px;
}

.requirement {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.requirement.disabled {
  filter: grayscale(100%) opacity(50%);
}

.requirement.crystal {
  content: url("/img/schalakitty/FFIVFE-Icons-1THECrystal-Color.png");
}

.requirement.pass {
  content: url("/img/schalakitty/FFIVFE-Icons-2Pass-Color.png")
}

.requirement.hook {
  content: url("/img/schalakitty/FFIVFE-Icons-3Hook-Color.png")
}

.requirement.darkness-crystal {
  content: url("/img/schalakitty/FFIVFE-Icons-4DarkCrystal-Color.png")
}

.requirement.earth-crystal {
  content: url("/img/schalakitty/FFIVFE-Icons-5EarthCrystal-Color.png")
}

.requirement.twin-harp {
  content: url("/img/schalakitty/FFIVFE-Icons-6TwinHarp-Color.png")
}

.requirement.package {
  content: url("/img/schalakitty/FFIVFE-Icons-7Package-Color.png")
}

.requirement.sand-ruby {
  content: url("/img/schalakitty/FFIVFE-Icons-8SandRuby-Color.png")
}

.requirement.baron-key {
  content: url("/img/schalakitty/FFIVFE-Icons-9BaronKey-Color.png")
}

.requirement.magma-key {
  content: url("/img/schalakitty/FFIVFE-Icons-10MagmaKey-Color.png")
}

.requirement.tower-key {
  content: url("/img/schalakitty/FFIVFE-Icons-11TowerKey-Color.png")
}

.requirement.luca-key {
  content: url("/img/schalakitty/FFIVFE-Icons-12LucaKey-Color.png")
}

.requirement.adamant {
  content: url("/img/schalakitty/FFIVFE-Icons-13Adamant-Color.png")
}  

.requirement.legend-sword {
  content: url("/img/schalakitty/FFIVFE-Icons-14LegendSword-Color.png")
}  

.requirement.pan {
  content: url("/img/schalakitty/FFIVFE-Icons-15Pan-Color.png")
}  

.requirement.spoon {
  content: url("/img/schalakitty/FFIVFE-Icons-16Spoon-Color.png")
}  

.requirement.mist-dragon {
  content: url("/img/sprites/MistDragon1.gif")
}

.requirement.rat-tail {
  content: url("/img/schalakitty/FFIVFE-Icons-17RatTail-Color.png")
}

.requirement.pink-tail {
  content: url("/img/schalakitty/FFIVFE-Icons-18PinkTail-Color.png")
}

.requirement.total {
  color: white;
  text-align: center;
  cursor: default;
}

.requirement.total.key-bonus-reached {
  color: chartreuse;
  text-align: center;
}

.locations {
    margin-left: 1em;
    line-height: 1.3;
}

.location.checked {
  color: green;
  text-decoration: line-through;
}

.location .name {
  cursor: pointer;
  padding-right: 5px;
}

.location .icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  padding: 0 1px;
}

.location .icon.clickable {
  cursor: pointer;
}

.location .key-item.disabled {
  filter: grayscale(100%) opacity(50%); 
}